[defaults]
inventory = inventory.ini
remote_user = ec2-user
private_key_file = ~/.ssh/roboshop.pem
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = yaml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
